In [60]:
import numpy as np
import pandas as pd

In [61]:
data = pd.read_pickle("Data/New/Main_Data/Dataset.pkl")

In [62]:
len(data)
pd.set_option('display.max_rows', 500)

In [63]:
#test = data[data.isnull().any(axis=1)]['Country'].value_counts()

In [64]:
len(data[data.isnull().any(axis=1)]['Country'].unique())

145

In [65]:
#test.to_csv("Notes/countries.csv")

In [66]:
remove_countries = pd.read_csv("Notes/Countries.csv")

In [67]:
len(remove_countries[remove_countries["Remove?"] == "Yes"])

72

In [68]:
remove_countries_list = remove_countries[remove_countries["Remove?"] == "Yes"]['Country'].tolist()

In [69]:
#remove_countries_list

In [70]:
data[data['Country'] == remove_countries_list[0]].index

Int64Index([3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010,
            3011, 3012, 3013, 3014],
           dtype='int64')

In [71]:
for i in range(0, len(remove_countries_list)):
    data.drop(data[data['Country'] == remove_countries_list[i]].index, inplace=True)

In [72]:
len(data[data.isnull().any(axis=1)])

251

In [73]:
data[data.isnull().any(axis=1)]['Country'].value_counts()

South Africa             15
Czech Republic           15
United States            15
Vietnam                  15
Korea, Rep.              15
United Kingdom           15
New Zealand              15
Kuwait                    7
Serbia                    6
Libya                     6
Bhutan                    6
Fiji                      5
Zimbabwe                  5
Guinea-Bissau             5
Lebanon                   5
Suriname                  4
Luxembourg                4
Burundi                   4
Iraq                      4
France                    3
Micronesia, Fed. Sts.     3
Poland                    3
Switzerland               3
Sudan                     3
Austria                   3
Nigeria                   3
Ukraine                   3
Finland                   3
Italy                     3
Japan                     2
Grenada                   2
Timor-Leste               2
Afghanistan               2
Kiribati                  2
Portugal                  2
Albania                   2
Latvia                    2
Belgium                   2
Greece                    2
Malta                     2
Bahrain                   1
Croatia                   1
Australia                 1
Lesotho                   1
Mauritius                 1
Gabon                     1
Hungary                   1
Dominica                  1
Singapore                 1
Tonga                     1
Netherlands               1
Seychelles                1
Yemen, Rep.               1
Oman                      1
Mauritania                1
Spain                     1
Kenya                     1
Uzbekistan                1
Thailand                  1
Algeria                   1
Djibouti                  1
Cyprus                    1
Madagascar                1
Tajikistan                1
Morocco                   1
Cuba                      1
Qatar                     1
Ireland                   1
Slovenia                  1
Germany                   1
Iceland                   1
Azerbaijan                1
Norway                    1
Name: Country, dtype: int64

In [57]:
# Final save
pd.to_pickle(data, "Data/New/Main_Data/Dataset_Removed_Countries.pkl")

In [58]:
# Final save
data.to_csv("Data/New/Main_Data/Dataset_Removed_Countries.csv")