In [78]:
import numpy as np
import pandas as pd
import re

In [79]:
data = pd.read_pickle("Data/New/Main_Data/Dataset.pkl")

In [80]:
len(data)
pd.set_option('display.max_rows', 500)

In [81]:
# Sometimes two integers popup in the same cell
regex_double_nums = re.compile(r'^[\d]+([\d]+|.[\d]+) [\d]+([\d]+|.[\d]+)$')

In [82]:
#test = data[data.isnull().any(axis=1)]['Country'].value_counts()

In [83]:
#data[data.isnull().any(axis=1)]['Country'].unique()

In [84]:
#test.to_csv("Notes/countries__new.csv")

In [85]:
remove_countries = pd.read_csv("Notes/countries.csv")

In [86]:
len(remove_countries[remove_countries["Remove?"] == "Yes"])

79

In [87]:
remove_countries_list = remove_countries[remove_countries["Remove?"] == "Yes"]['Country'].tolist()

In [88]:
#remove_countries_list

In [89]:
for i in range(0, len(remove_countries_list)):
    data.drop(data[data['Country'] == remove_countries_list[i]].index, inplace=True)

In [90]:
len(data[data.isnull().any(axis=1)])

125

In [91]:
#data[data.isnull().any(axis=1)]['Country'].value_counts()

In [93]:
# Final save
pd.to_pickle(data, "Data/New/Main_Data/Dataset_Removed_Countries.pkl")

In [94]:
# Final save
data.to_csv("Data/New/Main_Data/Dataset_Removed_Countries.csv",index=False)

In [95]:
len(data)
data[data.isnull().any(axis=1)]['Country'].value_counts().sum()

125

In [96]:
# # Check for double values - DONE
# for i in range(4, len(data.columns)):
#     for j in range(0, len(data)):
#         value = data[data.columns[i]].tolist()[j]
#         if regex_double_nums.match(str(value)):
#                 print(data.columns[i], value)