In [21]:
import numpy as np
import pandas as pd

In [22]:
data = pd.read_csv("Data/Life_Expectancy_Data.csv")
pop_data = pd.read_csv("Data/population_edit.csv")

In [23]:
max_pop = data['Population'].idxmax()

In [24]:
data.iloc[[max_pop]]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1187,India,2014,Developing,68.0,184.0,957,3.07,86.521539,79.0,79563,...,84.0,4.69,85.0,0.2,1573.11889,1.293859e+09,26.8,27.4,0.607,11.6

In [25]:
# Rows which have missing Values
# axis = 0: rows
# axis = 1: columns
# https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean
null_data = data[data.isnull().any(axis='columns')]

In [26]:
# 191 unique countries. Almost all countries have missing values.
null_data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4
44,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,87.0,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5
45,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,86.0,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1
46,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,86.0,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7

In [27]:
# Columns which have missing values
data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [28]:
# Number of cells which have missing values
data.isnull().sum().sum()

2563

In [29]:
# Column which has maximum NaN's. 
data.isnull().sum().idxmax()

'Population'

In [30]:
# Replace data in 'Population' column
# First find the minimum year in the dataset
# Computive Intensive. Comment for now.
#min_year = data['Year'].min()
#max_year = data['Year'].max()
#print("Range of Year:", min_year, "-", max_year)

In [31]:
# So we have to collect NaN data from 2000 - 2015 for 191 countries
len(null_data['Country'].unique())

191

In [32]:
# What are the countries which have NaN Population?
nan_pop_countries = data[data['Population'].isnull()]
len(nan_pop_countries['Country'].unique())
# There are 49 countries which have some NaN population.

49

There are 49 countries which have some NaN population.

In [33]:
nan_countries_test = nan_pop_countries[['Country','Year', 'Population']]
#nan_countries_test['Population']
#nan_pop_countries['Country']
#nan_countries_test['Population'][2897]

In [34]:
#pop_data[pop_data['Country Name'] == "Antigua and Barbuda"][pop_data['Year'] == year[79]]['Value'].values[0]
#nan_pop_countries['Year'][64]
#pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][64]][pop_data['Year'] == nan_pop_countries['Year'][64]]['Value'].values[0]
#pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][432]][pop_data['Year'] == nan_pop_countries['Year'][432]]
#nan_pop_countries['Country'][432]

In [35]:
#pop_data[pop_data['Country Name'] == "Yemen"]
#pop_data.iloc[[160]]
#len(pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][850]].values)
#nan_pop_countries['Country'][850]
#pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][850]]
#len(pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][val]][pop_data['Year'] == nan_pop_countries['Year'][val]].values)
#pop_data['Country Name'].values[14716].split(',')[0]
#val = 432
#pop_data[pop_data['Country Name'].str.contains(nan_pop_countries['Country'][val])][pop_data['Year'] == nan_pop_countries['Year'][val]]['Value']

In [36]:
for val in nan_pop_countries['Country'].index:
    if np.isnan(nan_countries_test['Population'][val]):
        print(val,' ',end='')
        if len(pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][val]].values) != 0:
            try:
                pop_other_data = pop_data[pop_data['Country Name'] == nan_pop_countries['Country'][val]][pop_data['Year'] == nan_pop_countries['Year'][val]]['Value'].values[0]
                print(pop_other_data)
                nan_countries_test.loc[val, 'Population'] = pop_other_data
            except IndexError:
                pass
        else:
            try:
                pop_other_data = pop_data[pop_data['Country Name'].str.startswith(nan_pop_countries['Country'][val])][pop_data['Year'] == nan_pop_countries['Year'][val]]['Value'].values[0]
                print(pop_other_data)
                nan_countries_test.loc[val, 'Population'] = pop_other_data
            except IndexError:
                try:
                    pop_other_data = pop_data[pop_data['Country Name'].str.startswith(nan_pop_countries['Country'][val].split(' (')[0])][pop_data['Year'] == nan_pop_countries['Year'][val]]['Value'].values[0]
                    print(pop_other_data)
                    nan_countries_test.loc[val, 'Population'] = pop_other_data
                except IndexError:
                    pass # No country match

64  99923.0
65  98875.0
66  97824.0
67  96777.0

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

68  95719.0
69  94661.0
70  93581.0
71  92478.0
72  91381.0
73  90301.0
74  89253.0
75  88257.0
76  87293.0
77  86266.0
78  85057.0
79  83584.0
160  386838.0
161  382169.0
162  377240.0
163  372039.0
164  366568.0
165  360832.0

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  del sys.path[0]

166  354856.0
167  348676.0
168  342328.0
169  335830.0
170  329249.0
171  322526.0
172  315746.0
173  309157.0
174  303135.0
175  297890.0
176  1371855.0
177  1336397.0
178  1315411.0
179  1300217.0
180  1278269.0
181  1240862.0
182  1185029.0
183  1114590.0
184  1035891.0
185  958414.0
186  889168.0
187  829848.0
188  778711.0
189  735148.0
190  697549.0
191  664614.0
208  284217.0
209  283385.0
210  282509.0
211  281585.0
212  280601.0
213  279569.0
214  278470.0
215  277319.0
216  276150.0
217  275039.0
218  274009.0
219  273091.0
220  272258.0
221  271478.0
222  270685.0
223  269847.0
304  10724705.0
305  10562159.0
306  10400264.0
307  10239004.0
308  10078343.0
309  9918242.0
310  9758748.0
311  9599855.0
312

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

9441444.0
313  9283334.0
314  9125409.0
315  8967741.0
316  8810420.0
317  8653345.0
318  8496375.0
319  8339512.0
368  417542.0
369  411704.0
370  405716.0
371  399748.0
372  394013.0
373  388662.0
374  383772.0
375  379252.0
376  374864.0
377  370250.0
378  365158.0
379  359523.0
380  353389.0
381  346867.0
382  340117.0
383  333241.0
432  433  434  435  436  437  438  439  440  441  442  443  444  445  446  447  608  4995648.0
609  4871101.0
610  4751393.0
611  4633363.0
612  4512730.0
613  4386693.0
614  4253712.0
615  4115435.0
616  3976246.0
617  3842365.0
618  3718243.0
619  3605439.0
620  3502519.0
621  3407180.0
622  3315806.0
623  3225727.0
624  657  11461432.0
658  11439767.0
659  11412167.0
660  11382146.0
661  11354651.0
662  11333051.0
663  11318602.0
664  11309754.0
665  11303687.0
666  11296233.0
667  11284253.0
668  11266941.0
669  11244885.0
670  11217998.0
671  11186542.0
672  11150736.0
689  690  691  692  693  694  695  696  697  698  699  700  701  702  703  704  705  25243917.0
706  25116363.0
707  24985976.0
708  24854034.0
709  24722298.0
710  24591599.0
711  24463021.0
712  24335146.0
713  24203289.0
714  24061097.0
715  23904167.0
716  23729498.0
717  23538540.0
718  23336681.0
719  23131810.0
720  22929075.0
721  76196619.0
722  73722860.0
723  71316033.0
724  68978682.0
725  66713597.0
726  64523263.0
727  62409435.0
728  60373608.0
729  58417562.0
730  56543011.0
731  54751476.0
732  53034217.0
733  51390033.0
734  49835756.0
735  48394338.0
736  47076387.0
769  72400.0
802  93778172.0
803  91812566.0
804  89807433.0
805  87813257.0
806  85897561.0
807  84107606.0
808  82465022.0
809  80953881.0
810  79537253.0
811  78159048.0
812  76778149.0
813  75381899.0
814  73981942.0
815  72590118.0
816  71226940.0
817  69905988.0
850  851  852  853  962  1977590.0
963  1917852.0
964  1859324.0
965  1802125.0
966  1746363.0
967  1692149.0
968  1639560.0
969  1588572.0
970  1539116.0
971  1491021.0
972  1444204.0
973  1398573.0
974  1354194.0
975  1311349.0
976  1270495.0
977  1231844.0
1042  106823.0
1043  106360.0
1044  105909.0
1045  105481.0
1046  105075.0
1047  104677.0
1048  104296.0
1049  103930.0
1050  103586.0
1051  103259.0
1052  102949.0
1053  102656.0
1054  102375.0
1055  102100.0
1056  101849.0
1057  101619.0
1218  79360487.0
1219  78411092.0
1220  77435384.0
1221  76453574.0
1222  75491582.0
1223  74567511.0
1224  73687565.0
1225  72845542.0
1226  72031103.0
1227  71227880.0
1228  70421811.0
1229  69617100.0
1230  68812713.0
1231  67983330.0
1232  67096414.0
1233  66131854.0
1394  3935794.0
1395  3782450.0
1396  3598385.0
1397  3395556.0
1398  3191051.0
1399  2998083.0
1400  2818939.0
1401  2652340.0
1402  2503410.0
1403  2377258.0
1404  2276623.0
1405  2207939.0
1406  2169118.0
1407  2143833.0
1408  2109355.0
1409  2050741.0
1410  1411  1412  1413  1414  1415  1416  1417  1418  1419  1420  1421  1422  1423  1424  1425  1426  6663967.0
1427  6576397.0
1428  6494557.0
1429  6415169.0
1430  6333487.0
1431  6246274.0
1432  6152036.0
1433  6052190.0
1434  5949787.0
1435  5849356.0
1436  5754026.0
1437  5664605.0
1438  5579656.0
1439  5497273.0
1440  5414568.0
1441  5329304.0
1506  6234955.0
1507  6204108.0
1508  6195970.0
1509  6198258.0
1510  6193501.0
1511  6169140.0
1512  6121053.0
1513  6053078.0
1514  5970362.0
1515  5881435.0
1516  5792688.0
1517  5704759.0
1518  5615952.0
1519  5527515.0
1520  5440566.0
1521  5355751.0
1650  52793.0
1699  104433.0
1700  104015.0
1701  103702.0
1702  103503.0
1703  103468.0
1704  103616.0
1705  103960.0
1706  104478.0
1707  105078.0
1708  105684.0
1709  106196.0
1710  106577.0
1711  106816.0
1712  106983.0
1713  107165.0
1714  107432.0
1715  37971.0
1812  10821.0
1845  4595700.0
1846  4509700.0
1847  4442100.0
1848  4408100.0
1849  4384000.0
1850  4350700.0
1851  4302600.0
1852  4259800.0
1853  4223800.0
1854  4184600.0
1855  4133900.0
1856  4087500.0
1857  4027200.0
1858  3948500.0
1859  3880500.0
1860  3857700.0
1909  1926  4199810.0
1927  3960925.0
1928  3711481.0
1929  3464644.0
1930  3237268.0
1931  3041460.0
1932  2882942.0
1933  2759014.0
1934  2662762.0
1935  2582991.0
1936  2511269.0
1937  2444751.0
1938  2385255.0
1939  2334285.0
1940  2294787.0
1941  2267991.0
2071  2481539.0
2072  2374419.0
2073  2250473.0
2074  2109568.0
2075  1952054.0
2076  1779676.0
2077  1590780.0
2078  1389342.0
2079  1189633.0
2080  1010382.0
2081  864863.0
2082  758855.0
2083  688586.0
2084  645659.0
2085  616886.0
2086  592267.0
2087  51014947.0
2088  50746659.0
2089  50428893.0
2090  50199853.0
2091  49936638.0
2092  49554112.0
2093  49307835.0
2094  49054708.0
2095  48683638.0
2096  48438292.0
2097  48184561.0
2098  48082519.0
2099  47892330.0
2100  47644736.0
2101  47370164.0
2102  47008111.0
2103  3554108.0
2104  3556397.0
2105  3558566.0
2106  3559519.0
2107  3559986.0
2108  3562045.0
2109  3565604.0
2110  3570108.0
2111  3576910.0
2112  3585209.0
2113  3595187.0
2114  3603945.0
2115  3612874.0
2116  3623062.0
2117  3631462.0
2118  3639592.0
2167  53169.0
2168  2169  2170  2171  2172  2173  2174  2175  2176  2177  2178  2179  2180  2181  2182  2183  2184  109455.0
2185  109357.0
2186  109320.0
2187  109328.0
2188  109341.0
2189  109315.0
2190  109253.0
2191  109165.0
2192  109047.0
2193  108907.0
2194  108744.0
2195  108559.0
2196  108350.0
2197  108146.0
2198  107988.0
2199  107898.0
2216  32303.0
2233  31557144.0
2234  30776722.0
2235  29944476.0
2236  29086357.0
2237  28238020.0
2238  27425676.0
2239  26661492.0
2240  25940770.0
2241  25252569.0
2242  24578301.0
2243  23905654.0
2244  23228890.0
2245  22556425.0
2246  21906308.0
2247  21303592.0
2248  20764312.0
2313  5535002.0
2314  5469724.0
2315  5399162.0
2316  5312437.0
2317  5183688.0
2318  5076732.0
2319  4987573.0
2320  4839396.0
2321  4588599.0
2322  4401365.0
2323  4265762.0
2324  4166664.0
2325  4114826.0
2326  4175950.0
2327  4138012.0
2328  4027887.0
2329  2330  2331  2332  2333  2334  2335  2336  2337  2338  2339  2340  2341  2342  2343  2344  2377  13908129.0
2378  13513125.0
2379  13132349.0
2380  12763776.0
2381  12404725.0
2382  12053223.0
2383  11707990.0
2384  11369276.0
2385  11038596.0
2386  10718317.0
2387  10409925.0
2388  10116228.0
2389  9836397.0
2390  9564167.0
2391  9290823.0
2392  9011479.0
2585  2079308.0
2586  2077495.0
2587  2075739.0
2588  2074036.0
2589  2072383.0
2590  2070739.0
2591  2069093.0
2592  2067378.0
2593  2065458.0
2594  2063145.0
2595  2060272.0
2596  2057047.0
2597  2053426.0
2598  2048928.0
2599  2042842.0
2600  2034819.0
2746  9154302.0
2747  9070867.0
2748  9006263.0
2749  8900453.0
2750  8672475.0
2751  8270684.0
2752  7666393.0
2753  6894278.0
2754  6044067.0
2755  5242032.0
2756  4579562.0
2757  4087931.0
2758  3741932.0
2759  3507232.0
2760  3326032.0
2761  3154925.0
2762  2763  2764  2765  2766  2767  2768  2769  2770  2771  2772  2773  2774  2775  2776  2777  2778  53879957.0
2779  52234869.0
2780  50636595.0
2781  49082997.0
2782  47570902.0
2783  46098591.0
2784  44664231.0
2785  43270144.0
2786  41923715.0
2787  40634948.0
2788  39410545.0
2789  38249984.0
2790  37149072.0
2791  36105808.0
2792  35117019.0
2793  34178042.0
2794  320896618.0
2795  318563456.0
2796  316204908.0
2797  313998379.0
2798  311663358.0
2799  309348193.0
2800  306771529.0
2801  304093966.0
2802  301231207.0
2803  298379912.0
2804  295516599.0
2805  292805298.0
2806  290107933.0
2807  287625193.0
2808  284968955.0
2809  282162411.0
2858  31155134.0
2859  30738378.0
2860  30317848.0
2861  29893080.0
2862  29463291.0
2863  29028033.0
2864  28587323.0
2865  28141701.0
2866  27691965.0
2867  27239168.0
2868  26784161.0
2869  26327225.0
2870  25868523.0
2871  25408700.0
2872  24948476.0
2873  24488340.0
2874  91713300.0
2875  90728900.0
2876  89759500.0
2877  88809200.0
2878  87860300.0
2879  86932500.0
2880  86025000.0
2881  85118700.0
2882  84218500.0
2883  83311200.0
2884  82392100.0
2885  81436400.0
2886  80467400.0
2887  79537700.0
2888  78620500.0
2889  77630900.0
2890  26916207.0
2891  26246327.0
2892  25576322.0
2893  24909969.0
2894  24252206.0
2895  23606779.0
2896  22974929.0
2897  22356391.0
2898  21751605.0
2899  21160534.0
2900  20582927.0
2901  20017068.0
2902  19462086.0
2903  18919179.0
2904  18390135.0

2905  17874725.0

In [37]:
len(nan_countries_test[nan_countries_test['Population'].isnull()]['Country'].unique())

9

In [38]:
nan_countries_test[nan_countries_test['Population'].isnull()]['Country'].unique()

array(["Côte d'Ivoire", 'Cook Islands', 'Czechia', 'Eritrea',
       'Kyrgyzstan', 'Niue', 'Saint Lucia', 'Slovakia',
       'United Kingdom of Great Britain and Northern Ireland'],
      dtype=object)

In [39]:
nan_countries_test[nan_countries_test['Country'] == "Eritrea"]

     Country  Year  Population
850  Eritrea  2015         NaN
851  Eritrea  2014         NaN
852  Eritrea  2013         NaN
853  Eritrea  2012         NaN